.build/
.swiftpm/
*.xcodeproj
xcuserdata/
DerivedData/
.DS_Store
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
*.ipa
*.dSYM.zip
*.dSYM
Docs/
